*{

margin:0;
padding:0;
box-sizing:border-box;

}

body{

height:100vh;

display:flex;
justify-content:center;
align-items:center;

background:#08080D;

font-family:'Chakra Petch',sans-serif;

overflow:hidden;

}

/* brilho de fundo */

body::before{

content:"";

position:absolute;

width:800px;
height:800px;

background:radial-gradient(circle,#00E6FF18 0%,transparent 70%);

filter:blur(60px);

}

.card{

position:relative;

width:760px;

background:#141822;

padding:55px;

border-radius:18px;

text-align:center;

box-shadow:

0 0 20px rgba(0,0,0,.6),
0 0 80px rgba(0,255,255,.05);

border:1px solid rgba(255,255,255,.05);

}

h1{

color:#4DE9FF;

font-size:64px;

font-weight:700;

line-height:0.95;

letter-spacing:1px;

margin-bottom:35px;

text-shadow:

0 0 12px #00e6ff40;

}

p{

color:white;

font-size:27px;

line-height:1.45;

font-weight:500;

margin-bottom:45px;

}

button{

width:100%;

height:65px;

border:none;

border-radius:9px;

margin-top:18px;

font-size:27px;

font-family:'Chakra Petch';

font-weight:600;

cursor:pointer;

transition:.25s;

}

button:hover{

transform:scale(1.02);

}

#medo{

background:#626A83;

color:white;

}

#medo:hover{

background:#707891;

}

#bom{

background:#45F3FF;

color:#111;

}

#bom:hover{

background:#72F7FF;

}